
# --- Standard ignores ---
# General
# Jupyter
# Logs & outputs
# Node
# OS cruft
# Python
# Rollup outputs
# VSCode
# Virtual envs
*.csv
*.egg-info/
*.log
*.py[cod]
*.pyc
*.swp
*.tmp
.DS_Store
.eggs/
.env
.env/
.ipynb_checkpoints/
.venv/
.vscode/
Thumbs.db
__pycache__/
build/
dist/
node_modules/
out/
out/*.csv
